<?xml version="1.0"?>
<robot name="dofbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>    
        <plugin name="joint_state_publisher_controller"
                filename="libgazebo_ros_joint_state_publisher.so">
            <!-- Update rate in Hertz -->
            <update_rate>10</update_rate>
            <!-- Name of joints in the model whose states will be published. -->
            <joint_name>arm_joint_01</joint_name>
            <joint_name>arm_joint_02</joint_name>
            <joint_name>arm_joint_03</joint_name>
            <joint_name>arm_joint_04</joint_name>
            <joint_name>arm_joint_05</joint_name>
            <joint_name>grip_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="joint_pose_trajectory_controller"
                filename="libgazebo_ros_joint_pose_trajectory.so">
            <!-- Update rate in Hz -->
            <update_rate>2</update_rate>
        </plugin>
    </gazebo>

</robot>
